:host {
  display: block;
}
.tableContainer {
  background: white;
  margin: 2rem;
}
.cogWheel {
  font-size: 1rem;
  height: 2rem;
  width: 2rem;
  padding: 0.2rem;
  img {
    width: 100%;
  }
}
wutu-data-table {

}
