<wutu-data-table
	[fetchItemsFn]="fetchItemsFn"
	[getActionsForRowFn]="getActionsForRowFn"
	(onRowClicked)="onRowClicked($event)"
>
	<ng-template columnKey="name" columnCaption="NAMERINO" let-value="value">
		name: {{value}}
	</ng-template>
	<ng-template columnKey="age" columnCaption="leeftijd" let-value="value">
		age: {{value}}
	</ng-template>
	<ng-template columnKey="breed" columnCaption="soort" let-value="value">
		soort: {{value}}
	</ng-template>
	<ng-template columnKey="address" columnCaption="waaro" let-value="value">
		address: {{value | json}}
	</ng-template>
	<ng-template columnKey="comments" columnCaption="commentaar" let-value="value">
		'"{{value}}"'
	</ng-template>
	<ng-template columnKey="somethingElse" columnCaption="whatever" let-value="value">
		'"{{value}}"'
	</ng-template>
</wutu-data-table>
