:host {
  display: block;
}
.tableContainer {
  background: white;
  margin: 2rem;
}
.cogWheel {
  font-size: 1rem;
  height: 2rem;
  width: 2rem;
  padding: 0.2rem;
  img {
    width: 100%;
  }
}
wutu-data-table {

}
.filterForm {
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  .fields {
    flex: 1 1 0px;
    overflow: auto;
  }
  .submitButton {
    margin-top: 1rem;
  }
}
