<ng-template #myToggle let-isSelected="isSelected">
	<app-my-toggle [ngModel]="isSelected"></app-my-toggle>
</ng-template>
<ng-template #configBtn let-clickHandler="clickHandler">
	<button class="cogWheel" (click)="clickHandler()">
		<img src="assets/cogwheel.svg" />
	</button>
</ng-template>
<ng-template #actionMenuBtn let-clickHandler="clickHandler">
	<button (click)="clickHandler($event.target)">
		.
	</button>
</ng-template>
<ng-template #toggleBtnRef let-isSelected="isSelected">
	<app-my-toggle [ngModel]="isSelected"></app-my-toggle>
</ng-template>
<ng-template #saveBtn let-clickHandler="clickHandler">
	<button (click)="clickHandler()">SAVE IT</button>
</ng-template>
<ng-template #searchInput let-changeHandler="changeHandler" let-searchQuery2="searchQuery">
	<span>{{setQuery(searchQuery2)}}</span>
	<input type="text" [(ngModel)]="searchQuery" (ngModelChange)="changeHandler($event)" />
</ng-template>

<div class="tableContainer">
	<wutu-data-table
		[fetchItemsFn]="fetchItemsFn"
		[getActionsForRowFn]="getActionsForRowFn"
		[getActionsForMultipleRowsFn]="getActionsForMultipleRowsFn"
		[searchParams]="getSearchParams()"
		(onParamsChanged)="updateRoute($event)"
		(onRowClicked)="onRowClicked($event)"
	>
		<ng-template columnKey="name" columnCaption="Full name" defaultSort="DESC" let-value="value" [fixedWidthInREM]="6">
			{{value}}
		</ng-template>
		<ng-template columnKey="age" columnCaption="Age" let-value="value" [fixedWidthOnContents]="true">
			{{value}} years old
		</ng-template>
		<ng-template columnKey="address" columnCaption="Address" let-value="value">
			{{value.street}} at number {{value.number}}
		</ng-template>
		<ng-template columnKey="occupation" columnCaption="Occupation" let-value="value">
			{{value}}
		</ng-template>
	</wutu-data-table>
</div>
