<ng-template #myToggle let-isSelected="isSelected">
	<app-my-toggle [ngModel]="isSelected"></app-my-toggle>
</ng-template>
<ng-template #configBtn let-clickHandler="clickHandler">
	<button class="cogWheel" (click)="clickHandler()">
		<img src="assets/cogwheel.svg" />
	</button>
</ng-template>
<ng-template #actionMenuBtn let-clickHandler="clickHandler">
	<button (click)="clickHandler($event.target)">
		.
	</button>
</ng-template>
<ng-template #actionMenuMultipleBtn let-clickHandler="clickHandler">
	<button (click)="clickHandler($event.target)">
		actions
	</button>
</ng-template>
<ng-template #toggleBtnRef let-isSelected="isSelected">
	<app-my-toggle [ngModel]="isSelected"></app-my-toggle>
</ng-template>
<ng-template #saveBtn let-clickHandler="clickHandler">
	<button (click)="clickHandler()">SAVE IT</button>
</ng-template>
<ng-template #searchInput let-changeHandler="changeHandler" let-searchQuery2="searchQuery">
	<span>{{setQuery(searchQuery2)}}</span>
	<input type="text" [(ngModel)]="searchQuery" (ngModelChange)="changeHandler($event)" />
</ng-template>
<ng-template #filterButton let-clickHandler="clickHandler" let-nrOfActiveFilters="nrOfActiveFilters">
	<button (click)="clickHandler($event.target)">
		Filter {{nrOfActiveFilters}}
	</button>
</ng-template>

<div class="tableContainer" *ngIf="true">
	<wutu-data-table
		[fetchItemsFn]="fetchItemsFn"
		[fetchItemByIds]="updateItemsById"
		[getColumnAggregatedValuesFn]="getColumnAggregatedValuesFn"
		[getActionsForRowFn]="getActionsForRowFn"
		[getActionsForMultipleRowsFn]="getActionsForMultipleRowsFn"
		[searchParams]="getSearchParams()"
		(onParamsChanged)="updateRoute($event)"
		(onRowClicked)="onRowClicked($event)"
		[emptyTpl]="empty"
		[showSearchField]="true"
		[allowSelectingAcrossMultiplePages]="true"
		[persistColumnsFn]="persistColumns"
		[retrieveColumnsFn]="retrieveColumns"
		[getExpandedTplFn]="getExpandedTplFn"
		[showColumnHeaders]="true"
		userResizableColumns="NO"
		[retrieveUserResizableColumnsFn]="retrieveUserResizableColumnsFn"
		[persistUserResizableColumnsFn]="persistUserResizableColumnsFn"
		(onDataRetrieved)="dataRetrieved($event)"
		[showPaginationNumbers]="true"
		[showTopButtons]="true"
		[showSelectionInfo]="true"
		[canConfigureColumns]="true"
		[showFooter]="true"
		[tabs]="tabs"
		[viewMode]="viewMode"
	>
		<ng-template #ageHeader>kers</ng-template>

        <ng-template gridItemTpl let-row="row" let-index="index">
            <div>
                <span >{{ row.name }}</span>
                <span>{{ row.age }} years</span>
            </div>
        </ng-template>

        <ng-template staticColumnCaption="Static column" let-row="row">
            woof
        </ng-template>

        <ng-template staticColumnCaption="Static column 2" let-row="row">
            miaow
        </ng-template>

        <ng-template columnKey="name" columnCaption="Full name" let-value="value" [preset]="presets.name">
            {{ value }}
        </ng-template>
        <ng-template [columnKey]="null" columnCaption="mjeh" [preset]="presets.name">
            hello
        </ng-template>
        <ng-template *ngIf="withAge" columnKey="age" columnCaption="Age" [headerTpl]="ageHeader" let-value="value"
            let-row="row" defaultSort="DESC" [preset]="presets.age">
            {{ value }} years old
        </ng-template>
        <ng-template columnKey="address" columnCaption="Address" [sortKey]="null" let-value="value"
                [enabledByDefault]="false" [preset]="presets.other">
            {{ value.street }} at number {{ value.number }}
        </ng-template>
        <ng-template columnKey="occupation" columnCaption="{{getDelayed() | async}}" sortKey="blargh" let-value="value"
                [aggregationTpl]="occupationAggr" [showTooltipOnOverflow]="false" [preset]="presets.other">
            {{ value }} occupation occupation occupation
        </ng-template>
        <ng-template #occupationAggr let-value="value">occupationAggr: {{ value }}</ng-template>
        <ng-template columnKey="shalala" columnCaption="Shalala" let-value="value" [rightAligned]="false"
                [preset]="presets.shalala">
            {{ value }}
        </ng-template>
        <ng-template columnKey="newlyAdded" columnCaption="newlyAdded" let-value="value" [enabledByDefault]="false"
                [preset]="presets.other">
            {{ value }}
        </ng-template>

        <ng-template filterForm>
            <form [formGroup]="myFilterForm" class="filterForm">
                <div class="fields">
                    <div style="height: 50px;">
                        <input type="text" formControlName="name" style="width: 40%"/>
                        <input type="text" formControlName="email" style="width: 40%"/>
                    </div>
                    <div style="height: 50px;">
                        <input type="text" formControlName="name"/>
                        <input type="text" formControlName="email"/>
                    </div>
                    <div style="height: 50px;">
                        <input type="text" formControlName="name"/>
                        <input type="text" formControlName="email"/>
                    </div>
                    <div style="height: 50px;">
                        <input type="text" formControlName="name"/>
                        <input type="text" formControlName="email"/>
                    </div>
                    <div style="height: 50px;">
                        <input type="text" formControlName="name"/>
                        <input type="text" formControlName="email"/>
                    </div>
                    <div style="height: 50px;">
                        <input type="text" formControlName="name"/>
                        <input type="text" formControlName="email"/>
                    </div>
                </div>
                <button class="submitButton" (click)="setFilters()">Submit</button>
            </form>
        </ng-template>
    </wutu-data-table>
</div>

<ng-template #empty>
    Empty state
</ng-template>

<ng-template #expandedTpl>
    {{ expandedInfo.name }}
</ng-template>

<ng-template #summaryTpl>
    I am a summary woeiiii
</ng-template>
