wutu-data-table {
  --wdt-top-buttons-padding: 1rem;
  --wdt-footer-buttons-padding: 1rem;
  --wdt-td-top-header-padding: 0.2rem;
  --wdt-td-bottom-header-padding: 0.3rem;
  --wdt-td-padding: 0.6rem 0.8rem 0.6rem 1rem;
  --wdt-td-padding-select-box: 0.6rem 0rem 0.6rem 1rem;

  --wdt-emphasize-1: 300;
  --wdt-emphasize1: 500;
}
body {
  background: lightgrey;
  color: #515365;
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}
