wutu-data-table {
  --wdt-td-padding: 1rem 0.8rem 1rem 0;
}
body {
  background: lightgrey;
  color: #515365;
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}
